<h1>Heizungssteuerung</h1>

<p-messages [(value)]="msgs"></p-messages>

<div *ngIf="showContent">
  <div class="p-grid">
    <div *ngFor="let room of rooms" class="p-col-12 p-md-6 p-lg-3 p-col-align-stretch">
      <app-room [room]="room" (roomChange)='roomChange($event);'></app-room>
    </div>
  </div>

  <div>
    <button (click)="updateRooms();" pButton label="Speichern" [disabled]="saveDisabled"></button>
  </div>
</div>

<div *ngIf="showSpinner">
  <p-progressSpinner></p-progressSpinner>
</div>
